src/styles/apachexml/dtd/blocks.ent

<?xml encoding='US-ASCII'?>

<!-- BLOCKS ENTITY -->
<!ENTITY % blocks "p|note|ul|ol|gloss|table|source|anchor|form">

<!-- import the external markup.ent dtd -->
<!ENTITY % markupEntity SYSTEM "markup.ent">
%markupEntity;

<!ENTITY % content "(#PCDATA|%markup;|%links;)*">

<!ELEMENT p %content;>
<!ELEMENT note %content;>

<!ELEMENT ul (li|ol|ul)+>
<!ELEMENT ol (li|ol|ul)+>
<!ELEMENT li %content;>

<!ELEMENT gloss (label|item)+>
<!ELEMENT label %content;>
<!ELEMENT item %content;>

<!ELEMENT source (#PCDATA)>

<!ELEMENT table (tr)+>
<!ATTLIST table title CDATA #IMPLIED>

<!ELEMENT tr (tn|th|td)+>

<!ELEMENT tn EMPTY>
<!ATTLIST tn colspan CDATA "1"
             rowspan CDATA "1">

<!ELEMENT th %content;>
<!ATTLIST th colspan CDATA "1"
             rowspan CDATA "1">

<!ELEMENT td %content;>
<!ATTLIST td colspan CDATA "1"
             rowspan CDATA "1"
	     align (left|center|right) "left">
             

<!ELEMENT form (#PCDATA|select|input)*>
<!ATTLIST form action CDATA #REQUIRED
               method CDATA #REQUIRED
               id     CDATA #REQUIRED>

<!ELEMENT select (#PCDATA|option)*>
<!ATTLIST select name CDATA #REQUIRED>

<!ELEMENT option (#PCDATA)>
<!ATTLIST option value CDATA #REQUIRED>

<!ELEMENT input EMPTY>
<!ATTLIST input type  CDATA #REQUIRED
                value CDATA #REQUIRED>