src/styles/apachexml/dtd/faqs.dtd

<?xml encoding='US-ASCII'?>

<!-- STYLEBOOK FAQS DTD -->

<!-- import the external blocks.ent dtd -->
<!ENTITY % blocksEntity SYSTEM "blocks.ent">
%blocksEntity;

<!ELEMENT faqs (faq)+>
<!ATTLIST faqs title CDATA #REQUIRED>

<!ELEMENT faq (q,a)>
<!ATTLIST faq title CDATA #IMPLIED>


<!ELEMENT q (#PCDATA)>
<!ELEMENT a (%blocks;)+>

<!-- CVS $Revision: 313216 $ $Date: 1999-12-01 15:19:18 +0100 (Wed, 01 Dec 1999) $ -->