src/styles/apachexml/dtd/markup.ent

<?xml encoding='US-ASCII'?>

<!-- MARKUP ENTITY -->
<!ENTITY % markup "em|ref|code|br">

<!-- import the external source-specific dtd -->
<!ENTITY % externalEntity SYSTEM "sbk:/sources/entities.ent">
%externalEntity;
<!-- import the external charecters.ent dtd -->
<!ENTITY % charEntity SYSTEM "characters.ent">
%charEntity;
<!-- import the external links.ent dtd -->
<!ENTITY % linksEntity SYSTEM "links.ent">
%linksEntity;

<!ELEMENT em (#PCDATA|%links;)*>
<!ELEMENT ref (#PCDATA|%links;)*>
<!ELEMENT code (#PCDATA|%links;)*>
<!ELEMENT br EMPTY>

<!-- CVS $Revision: 313236 $ $Date: 1999-12-02 00:03:37 +0100 (Thu, 02 Dec 1999) $ -->