src/styles/christmas/dtd/markup1.ent

<?xml encoding='US-ASCII'?>

<!-- MARKUP ENTITY -->
<!ENTITY % markup "em|ref|code|br">

<!-- import the external source-specific dtd -->
<!ENTITY % externalEntity SYSTEM "sbk:/sources/entities.ent">
%externalEntity;
<!-- import the external charecters.ent dtd -->
<!ENTITY % charEntity SYSTEM "characters.ent">
%charEntity;
<!-- import the external links.ent dtd -->
<!ENTITY % linksEntity SYSTEM "links1.ent">
%linksEntity;

<!ELEMENT em (#PCDATA|%links;)*>
<!ELEMENT ref (#PCDATA|%links;)*>
<!ELEMENT code (#PCDATA|%links;)*>
<!ELEMENT br EMPTY>

<!-- CVS $Revision: 313246 $ $Date: 1999-12-28 23:12:57 +0100 (Tue, 28 Dec 1999) $ -->